:root {
    background-color: #fe938c;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 64px;
    text-align: center;
}

.cat {
    width: 120px;
}

.tematica {
    display: flex;
}

.textos {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 24px;
}

.censor {
    width: 180px;
    height: 180px;
    padding: 48px;
}

p {
    margin: 18px;
}

.inputs {
    display: flex;
    justify-content: center;
}

button {
    background: linear-gradient(180deg, #4281a4 10%, #9cafb7 90%);
    border-radius: 25px;
    font-family: 'Josefin Slab', serif;
    font-size: 48px;
    text-align: center;
    color: white;
    border: none;
    width: 360px;
    height: 85px;
    margin: 65px;
}

.funciones {
    display: flex;
    justify-content: center;
}

.cipher {
    background-color: #ead2ac;
    border: none;
    border-radius: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
    text-align: center;
    height: 60px;
}

h2 {
    font-family: 'Josefin Slab', serif;
    font-size: 28px;
    text-align: center;
}

.resultado {
    display: flex;
    justify-content: center;
}

.copiar {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.img-footer {
    width: 100px;
}